
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 200px;
    height: 70;
    font-size: 20;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    background-size: 300%;
    background-image: linear-gradient(to right, #279eff,
    #9F0D7F, #9F0D7F, #279eff);
    transition: all .5s;
}

button:hover{
    background-position:100% 0;
}