<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
          * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url('im_2.jpg') no-repeat;
            background-size: cover;
            background-position: center; 
            }
    </style>
</head>
<body>
    <h1 class="logo" >Hola, Bienvenido a tu gestros de proyectos</h1>
    <div class="button-container">
        <button class="#" ><a href="/iniciar_sesion">Iniciar sesion</a></button>
        <button class="#" ><a href="/registrarse">Registarse</a></button>
    </div>
</body>
</html>