<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('iniciar_sesion')}}" method="post">
        <input class="1" type="text ", name="usuario", placeholder="Nombre de ususario">
        <input class="1" type="text ", name="registrarse", placeholder="Contraseña del ussuario">
        <button class="btn_1" type="submit">Iniciar sesion</button>
    </form>
</body>
</html>

