<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>iniciar sesion</h1>
    <br>
    <form action="{{ url_for('iniciar_sesion') }}" method="post">
        <br>
        <input type="text" name="usuario" placeholder="Nombre de usuario" required>
        <br>
        <input type="password" name="contraseña" placeholder="Contraseña" required>
        <br>
        <button type="submit">Iniciar sesión</button>

    </form>
</body>
</html>