<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
      <h1>Iniciar sesion</h1>

      <form action="{{ url_for('iniciar_sesion') }}" method="post">
        <div class="imput-box">
        <input type="text" name="usuario" placeholder="Nombre de usuario" required>
        <i class='bx bxs-user'></i>
        </div>

        <div class="imput-box">
        <input type="password" name="contraseña" placeholder="Contraseña" required>
        <i class='bx bxs-lock-alt'></i>
        </div>

        <div class="imput-box">
        <input type="text" name="cedula" placeholder="Cedula" required>
        <i class='bx bxs-id-card' ></i>
        </div>

        <div class="remember-forgot">
            <label><input type="checkbox"> Remember me</label>
            <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn" >Iniciar sesión</button>

      </form>

    </div>
</body>
</html>