<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1>Registrarse</h1>
            <br>
    
    <form action="{{ url_for('registrarse') }}" method="post">
        <div class="imput-box">
                <input type="text" name="usuario_r" placeholder="Nombre">
                <i class='bx bxs-user'></i>
        </div>

        <div class="imput-box">
        <input type="password" name="contraseña_r" placeholder="Contraseña" required>
        <i class='bx bxs-lock-alt'></i>
        </div>
    
        <div class="imput-box">
        <input type="text" name="cedula_r" placeholder="Cédula" required>
        <i class='bx bxs-lock-alt'></i>
        </div>
    
        <div class="imput-box">
        <label>Empleado:</label>
        <select name="valor"> 
        </div>
        <div class="imput-box">
        <option value="empleado" >Empleado</option>
        </div>
        
        <div class="imput-box">
        <option value="gestor" >Gestor</option>
        </div>
        </select>
    
        <div class="imput-box">
            <button type="submit" class="btn" >Registrarse</button>
        </div>
    </div>
    </form>
    
</html>