<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Registrarse</h1>
    <br>
    <form action="{{ url_for('registrarse') }}" method="post">
        <input type="text" name="usuario_r" placeholder="Usuario">
        <br>
        <input type="password" name="contraseña_r" placeholder="Contraseña" required>
        <br>
        <input type="text" name="nombre" placeholder="Nombre" required>
        <br>
        <input type="text" name="cedula" placeholder="Cédula" required>
        <br>
        <label>Empleado:</label>
        <select name="valor"> 
            <option value="empleado">Empleado</option>
            <option value="gestor">Gestor</option>
        </select>
        <br>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>